@model PassionProject.Models.InstructionDto

<h1>Confirm Delete?</h1>
<p>@Model.InstructionId</p>

<form method="POST" action="/InstructionPage/Delete/@Model.InstructionId">
    <input style="background:red; color:white;" type="submit" value="Confirm Delete" />

</form>
