@model PassionProject.Models.DessertDto

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>
<h4>Dessert</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" asp-route-id="@Model.DessertId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DessertId" />
            <div class="form-group">
                <label asp-for="DessertName" class="control-label"></label>
                <input asp-for="DessertName" class="form-control" />
                <span asp-validation-for="DessertName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DessertDescription" class="control-label"></label>
                <input asp-for="DessertDescription" class="form-control" />
                <span asp-validation-for="DessertDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecificTag" class="control-label"></label>
                <input asp-for="SpecificTag" class="form-control" />
                <span asp-validation-for="SpecificTag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}