<form method="POST" action="/IngredientPage/Add">
    <div class="form-row">
        <label for="IngredientName">Ingredient Name:</label>
        <input type="text" name="IngredientName" id="IngredientName" />
    </div>
    <div class="form-row">
        <label for="IngredientDescription">Ingredient Description:</label>
        <input type="text" name="IngredientDescription" id="IngredientDescription" />
    </div>


    <div class="form-row">
        <input type="submit" value="Add Ingredient" />
    </div>
</form>