@model PassionProject.Models.ReviewDto

<h1>Confirm Delete?</h1>
<p>@Model.ReviewNumber</p>

<form method="POST" action="/ReviewPage/Delete/@Model.ReviewId">
    <input style="background:red; color:white;" type="submit" value="Confirm Delete" />

</form>

