@model IEnumerable<ReviewDto>


<a href="/ReviewPage/New">Create New</a>

<hr />

<div class="row">
    @foreach (var Review in Model)
    {
        <div>
            <a href="/ReviewPage/Details/@Review.ReviewId">#@Review.ReviewNumber</a> : @Review.ReviewContent - @Review.DessertName
        </div>
    }
</div>